
 body {
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    }
.about {
    background-color: blue;
    }
.facts {background-color: #2828f3;
}
.contact {background-color: hsl(240, 89%, 67%);}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }